<!-- Form template -->

  <!DOCTYPE html>
  <html>
  <head>

    <script src="../src/Cart.js"></script>
    <script src="../src/Form.js"></script>
    <script src="../src/main.js"></script>



  </head>


  <body>

  <h2>JavaScript Form Validation</h2>

  <!--  onsubmit="return validateForm(pannier) : la fonction prend en paramètre la valeur pannier isEmpty pour tester s'il est vide ) -->

  <form name="myForm" action="/action_page.php" onsubmit="return form.validateForm(cart)" method="post">
    Name: <input type="text" name="name">
    first Name: <input type="text" name="fname">
      <input type="submit" value="Submit">
  </form>


  </body>
  </html>
