<!-- Product template -- >

  <!-- Form template -->

    <!DOCTYPE html>
    <html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <script src="../src/Product.js"></script>
      <script src="../src/Cart.js"></script>
      <script src="../src/Form.js"></script>
      <script src="../src/main.js"></script>



    </head>


    <body>

      <div class="w3-container w3-pale-red w3-center" style="margin:10%">


        <div class="w3-card-4 w3-teal" style="margin:5%">

          <div class="w3-container w3-center">
            <h2 class="w3-center w3-large"><span id="title" class="w3-orange w3-text-white w3-padding">TITLE</span></h2>
            <img id="myImg"   alt="Avatar" style="width:80%">
            <div class="w3-col w3-center w3-margin-top">
              <i id="price" class="w3-card w3-medium w3-text-white w3-padding ">PRICE</i>

            <div class="w3-section">

              <div class="w3-col w3-padding">
                <button class="w3-button w3-green"  id="addToCart">+</button>
                <button class="w3-button w3-red"    id="removeFromCart"">-</button>
              </div>

              <div class="w3-col w3-padding">
                <span class="w3-card w3-padding w3-margin" id="cart">0</span>
              </div
            </div>
          </div>
          <div class="w3-container">
            <p id="description"class="w3-card w3-padding">DESCRIPTION</p>
          <hr>

        </div>

        </div>
      </div>

    <script>


      let id = localStorage.getItem("productId");
      console.log(id);
      product = new Product()

      //product.getProduct(prodicutID);






    </script>

    </body>
    </html>
