<!-- Products template -->


    <!DOCTYPE html>
    <html lang="fr">
    <head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <title> Products </title>
      <script src="../src/Product.js"></script>
      <script src="../src/Cart.js"></script>
      <script src="../src/Form.js"></script>
      <script src="../src/main.js"></script>



    </head>


    <body>

      <ul id="div1" class="w3-row w3-ul">

      </ul>


    <script>

      product = new Product()

      product.getProducts();

    </script>

    </body>
    </html>
